<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title%}{% endblock title%}</title>
    {% endblock head %}
</head>
<body>
    <div class="header">
        <h1 class="logo">
            <img src="https://i1.wp.com/5b0988e595225.cdn.sohucs.com/images/20170824/50cbf1ff1528475da565963e630a88ac.jpeg?zoom=2" width="100">Welcome
        </h1>
    </div>
    <div class="nav-bar">
        <ul>
            <li class="active">
                <a href="/search">首頁</a>
            </li>
        </ul>
    </div>
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>