{% extends "base.html" %}
{% block title %}statistic_location{% endblock title %}
{% block content%}
<a class="btn btn-primary btn-lg" href="/statistic_location/臺北" role="button">臺北</a>
<a class="btn btn-primary btn-lg" href="/statistic_location/新北" role="button">新北</a>
<a class="btn btn-primary btn-lg" href="/statistic_location/桃園" role="button">桃園</a>
<a class="btn btn-primary btn-lg" href="/statistic_location/新竹" role="button">新竹</a>
<a class="btn btn-primary btn-lg" href="/statistic_location/苗栗" role="button">苗栗</a>
<a class="btn btn-primary btn-lg" href="/statistic_location/臺中" role="button">臺中</a>
<a class="btn btn-primary btn-lg" href="/statistic_location/彰化" role="button">彰化</a>
<a class="btn btn-primary btn-lg" href="/statistic_location/南投" role="button">南投</a>
<a class="btn btn-primary btn-lg" href="/statistic_location/雲林" role="button">雲林</a>
<a class="btn btn-primary btn-lg" href="/statistic_location/嘉義" role="button">嘉義</a>
<a class="btn btn-primary btn-lg" href="/statistic_location/臺南" role="button">臺南</a>
<a class="btn btn-primary btn-lg" href="/statistic_location/高雄" role="button">高雄</a>
<a class="btn btn-primary btn-lg" href="/statistic_location/屏東" role="button">屏東</a>
<a class="btn btn-primary btn-lg" href="/statistic_location/宜蘭" role="button">宜蘭</a>
<a class="btn btn-primary btn-lg" href="/statistic_location/花蓮" role="button">花蓮</a>
<a class="btn btn-primary btn-lg" href="/statistic_location/臺東" role="button">臺東</a>
<a class="btn btn-primary btn-lg" href="/statistic_location/澎湖" role="button">澎湖</a>

<iframe src="http://192.168.234.134:5601/app/kibana#/dashboard/3ea69d40-94cb-11ea-9e38-61592c6beadf?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-21y%2Cto%3Anow))" height="1200" width="1850" frameborder="0"></iframe>
{% endblock content %}